<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Passageiros perto de você</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item *ngFor="let user of users">
      <app-card-user [user]="user"></app-card-user>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
