<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; align-items: center;">
      <img height="60px" src="./../../../assets/logo.png" alt="" />
      <h2>Configurações</h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list style="height: 100%;">
    <ion-item>
      <ion-icon slot="start" name="create-outline"></ion-icon>
      <ion-label>Editar seu perfil</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="car-sport-outline"></ion-icon>
      <ion-label>Motoristas</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Passageiros</ion-label>
    </ion-item>
    <ion-item (click)="logOut()">
      <ion-icon slot="start" name="exit-outline"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
