<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; align-items: center">
      <img height="60px" src="./../../../assets/logo.png" alt="" />
      <h2>Veja mais sobre essa pessoa:</h2>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list style="height: 100%">
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input
        [(ngModel)]="user.nome_completo"
        label="Nome completo"
        labelPlacement="floating"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="school-outline" slot="start"></ion-icon>
      <ion-input
        [(ngModel)]="user.faculdade"
        label="Faculdade"
        readonly
        labelPlacement="floating"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-input
        [(ngModel)]="user.data_nascimento"
        label="Data de Nascimento"
        readonly
        labelPlacement="floating"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-input
        [(ngModel)]="user.cep"
        type="text"
        label="CEP"
        labelPlacement="floating"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="car-sport-outline" slot="start"></ion-icon>
      <ion-input readonly [(ngModel)]="user.is_motorista" label="Você é motorista?" placeholder="Selecione">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input readonly [(ngModel)]="user.is_passageiro" label="Você é passageiro?" placeholder="Selecione">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input
        [(ngModel)]="user.email"
        label="Email"
        readonly
        labelPlacement="floating"
      ></ion-input>
    </ion-item>
    <ion-button [routerLink]="['/tabs/tabs/passageiros']" style="margin: 2em 2em 0 2em;" expand="block" fill="outline">Voltar</ion-button>
  </ion-list>
</ion-content>
