<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="motoristas" href="/tabs/motoristas">
      <ion-icon aria-hidden="true" name="car-sport-outline"></ion-icon>
      <ion-label>Motoristas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="passageiros" href="/tabs/passageiros">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Passageiros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracoes" href="/tabs/configuracoes">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
